/********** Base styles **********/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS",cursive, sans-serif;
}
h1 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 3%;
  font-size: 1.75em;
}
section {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #999999;
  width: 90%;
  height: 45%;
  margin-right: 2%;
  margin-left: auto;
  margin-top: 3%;
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
  overflow: auto;
}
p {
  border: 1px solid black;
  width: 120px;
  height: 40px;
  text-align: center;
  padding-top: 5px;
  font-size: 1.25em;
}
section#container1 {
  position: relative;
}
section#container2 {
  position: relative;
}
section#container3 {
  position: relative;
}
#p1 {
  background-color: #d59898;
  position: absolute;
  top: 0px;
  right: 0px;
}
#p2 {
  background-color: #c14543;
  position: absolute;
  top: 0px;
  right: 0px;
}
#p3 {
  background-color: #e5d198;
  position: absolute;
  top: 0px;
  right: 0px;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
  margin-left: 3%;
  margin-right: 3%;
}

/********** desktop version only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
  }
  .col-lg-4 {
    width: 30.33%;
  }
}

/********** tablet version only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-11 {
    float: left;
  }
  .col-md-6 {
    width: 46%;
  }
  .col-md-11 {
    width: 94%;
  }
}

/********** mobile version only **********/
@media (max-width: 767px) {
  .col-sm-10 {
  	float; left;
  	margin-left: 3%;
    margin-right: 3%;
  }
  .col-sm-10 {
  	width: 88%;
  }
}